altgraph==0.17.5
greenlet==3.5.3
packaging==26.2
pefile==2024.8.26
playwright==1.61.0
pyee==13.0.1
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pywin32-ctypes==0.2.3
setuptools==82.0.1
typing_extensions==4.16.0
win11toast==0.36.3
winrt-runtime==3.2.1
winrt-Windows.Data.Xml.Dom==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Globalization==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Media.Core==3.2.1
winrt-Windows.Media.Ocr==3.2.1
winrt-Windows.Media.Playback==3.2.1
winrt-Windows.Media.SpeechSynthesis==3.2.1
winrt-Windows.Storage==3.2.1
winrt-Windows.Storage.Streams==3.2.1
winrt-Windows.UI.Notifications==3.2.1
